.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  flex-wrap: wrap;
  grid-template-rows: 2fr;
  padding: 50px 0;
}

.project-card {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}


.project-card .project-image {
  width: 113px;
  height: 60px;
  border-radius: 8px;
  margin-right: 20px;
  border: 1px whitesmoke solid;
}

.project-card h1 {
  font-size: 24px;
  font-weight: 500;
}




























@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}